body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #111;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

nav img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.hero {
    background-image: url('netflix.webp');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 25px 25px;
}

.hero-content {
    max-width: 100px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: red;
    color: #fff;
    cursor: pointer;
}

footer {
    background-color: #111;
    text-align: center;
    padding: 20px 0;
    color: #fff;
}
